<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monster.yapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.monster.yapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.monster.yapp.SecActivity"
            android:label="@string/title_activity_sec"
            android:theme="@android:style/Theme.Dialog"
            >
        </activity>
        <activity
            android:name="com.monster.yapp.ThreeActivity"
            android:label="@string/three_activity"
            >
            <intent-filter >
                <action android:name="com.monster.yapp.my_three_act"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name=".service.CMService"></service>
    </application>

</manifest>